{
  "*.html": ["markuplint", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}
