{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard"],
  "rules": {
    "alpha-value-notation": null,
    "color-function-notation": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "keyframes-name-pattern": null,
    "no-empty-source": null,
    "selector-class-pattern": null
  }
}
